#should be files created by mac
/**/.DS_Store

/**/node_modules

/**/npm-debug.*
#some examples are temp word documents
/**/~$*

#don't commit secrets
/**/.env

/**/.vscode

#Ignore build Files
/build/**